body {
	font-size: 80%;
	font-family: Courier;
	color: black;
}
#userid {
	color: black;
	margin-left: 14px;
	padding-bottom: 0px;
}
p.comments {
	padding: 0px;
	margin-bottom: 0px;
}
#txtarea1 {
	color: gray;
	width: 225px;
	height: 60px;
}
#fin {
	color: black;
	margin-left: 6px;
}
#brand {
	margin-left: -1px;
}
input {
	font-size: 110%;
	color: #5a5854;
	border-radius: 5px;
	padding-left: 4px;
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
input:focus {
	background-color: #F0E68C;
	border: 1px solid black;
}
input#email {
	/*background-image: url("email.jpeg"); */
}
input#submit {

}
input#submit:hover {
	background-color: #F0E68C;
	border: 1px solid black;
	font-weight: bold;
	background: -webkit-gradient(linear, left top,
	left bottom, from(#a8cfce), to(#beeae9));
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	background: -o-linear-gradient(top, #a8cfce, #beeae9);
	background: -ms-linear-gradient(top, #a8cfce, #beeae9)
}
.titlex {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}
div {
	border-bottom: 1px solid #efefef;
}
}

